Options ExecCGI Indexes FollowSymLinks
AddType application/x-httpd-cgi py

Redirect permanent /download/latexSuite-1.5-rc1.tar.gz http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite-1.5-rc1.tar.gz
Redirect permanent /download/latexSuite-1.5.tar.gz http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite-1.5.tar.gz
Redirect permanent /download/latexSuite20060325.tar.gz http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite20060325.tar.gz
Redirect permanent /download/latexSuite-dec-13-02.tar.gz http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite-dec-13-02.tar.gz
Redirect permanent /download/latexSuite-mar-25-03.tar.gz http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite-mar-25-03.tar.gz
Redirect permanent /download/latexSuite-multicompile.tar.gz http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite-multicompile.tar.gz
Redirect permanent /download/latexSuite.tar.gz http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite.tar.gz
Redirect permanent /download/latexSuite-1.5-rc1.zip http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite-1.5-rc1.zip
Redirect permanent /download/latexSuite-1.5.zip http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite-1.5.zip
Redirect permanent /download/latexSuite20060325.zip http://downloads.sourceforge.net/vim-latex/very-old-releases/download/latexSuite20060325.zip

Redirect permanent /latexSuite.tar.gz https://sourceforge.net/projects/vim-latex/files/very-old-releases/latexSuite.tar.gz/download
Redirect permanent /latexSuite.zip https://sourceforge.net/projects/vim-latex/files/very-old-releases/latexSuite.zip/download

Redirect seeother /latex-suite.txt  http://vim-latex.sourceforge.net/documentation/latex-suite.txt
Redirect seeother /latex-suite.html http://vim-latex.sourceforge.net/documentation/latex-suite.html
Redirect seeother /tutorial http://vim-latex.sourceforge.net/documentation/latex-suite-quickstart/

Redirect seeother /latexhelp.txt http://vim-latex.sourceforge.net/download/latexhelp.txt
Redirect seeother /latexhelp.html http://vim-latex.sourceforge.net/download/latexhelp.html
